<div class ="container">
    <h1>Stupid Coaching</h1>


      <div class="question">
        <p><%= params[:question] %></p>
        <p><i>-You</i></p>
      </div>

      <div class="answer">
        <p><%= @answer %></p>
        <p><i>-Your Coach</i></p>
      </div>

    <%= link_to "Ask a new question", root_path%>
</div>
