<div class="container">
  <h1>Stupid Coaching</h1>

  <form action="/answer" method="get" data-turbo="false">
    <input type="text" name="question" placeholder="Type your question...">
    <input type="submit" value="Ask!">
  </form>
</div>
